<html lang="pt-br" ng-app="offChat">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="content/bootstrap.css">
    <link rel="stylesheet" href="content/style.css">

    <script src="content/angular.js"></script>
    <script src="content/code.js"></script>
    

    <title>offChat</title>
  </head>
  <body ng-controller="offChatCtrl">
    <div class="jumbotron">
      <h2>{{titulo}}</h2>

      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="message in messages">
            <td class="chatUserId"><b>{{message.userId}}</b> {{': ' + message.text}}</td>
            <td><td/>
            <td class="chatTime">{{message.time}}<td/>
          </tr>
        </tbody>
      </table>
      <input class="form-control" type="text" ng-model="message.userId" placeholder="userId"/>
      <form name="messageForm">
        <input class="form-control message" type="text" ng-model="message.text" placeholder="text"/>
        <button class="btn btn-primary btn-block" ng-click="sendMessage(message)" ng-disabled="!(message.userId && message.text)">Adicionar</button>
        {{message.userId + " - " + message.text + " - " + message.time}}
      </form>
    </div>
  </body>
</html>
