.jumbotron {
  width: 100%;
  height: 70vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

th {
  text-align: center;
}

table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

tbody {
      height: 120px;
      overflow-y: auto;
  }

.form-control {
  margin-bottom: 5px;
}

.message {
  height: 100px;
}
.chatUserId {
  text-align: left;
}
.chatTime {
  text-align: right;
}